.main_inf{

}
.my_face{
    border-radius: 300px; 
    border: 3px solid rgb(78, 34, 107); 
    box-shadow: 0 0 7px #666; 
   
}
body{
    background-color: rgb(216, 180, 218);
    }
header{
       text-align: center;
}
h1{
    font-size:60px ;
}
div{
    text-align: left;
    width: 400px;
    margin:20px 40% 0px;
}
ul{
    text-align: left;
}
h2{
    text-align: center;
    font-size: 30px;
}